
<footer>
    <!-- <h5 class='footer-text'>All rights reserved ShareAMeal</h5> -->
    <h5 class='footer-text'>
        <span class='text-highlight'>contact-us:</span> shareameal@gmail.com</h5>
</footer>

</body>
</html>