<%- include ("./partials/header.ejs") %>
    
    <form action="./create" method="POST" class='meal-form' id='mealForm' >
    <div class="panel" id="organizerDiv">
        <h1 class=panel-title>Organizer Info</h1>
        <h4 class='panel-desc'>Enter your details to login and manage this meal plan.</h4>
        <div class="input-group">
            <label for="name">Name</label>
            <input type="text" name="organizerName" id='organizerName' required
                    placeholder='Please tell us your name'> 
        </div>
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" name="organizerEmail" id='organizerEmail' required
                                placeholder="To what e-mail can we send your schedule details">
        </div>
        <div class="input-group">
            <label for="phone">Phone#</label>
            <input type="tel" name="organizerPhone" id='organizerPhone' 
                    placeholder="Your phone where volunteers can contact you">
        </div>
        <div class="input-group">
            <label for="Password">Password</label>
            <input type="password" name="organizerPassword" id='organizerPassword' 
                    placeholder="Please create a password to log into your schedule">
        </div>
            <button type='submit' id='organizerSubmitButton'>Next</button>
    </div>
 
    <div class="hide panel " id="recipientDiv">
        <h1 class=panel-title>Meal Recipient Info</h1>
        <h4 class='panel-desc'>Who will be receiving these meals? </h4>
        <div class="input-group">
            <label for="name">Name</label>
            <input type="text" name="recipientName" id='recipientName' required
                    placeholder='What is their name?'>    
        </div>
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" name="recipientEmail"
                    placeholder='What is their email?'>
        </div>
        <div class="input-group">
            <label for="phone">Phone #</label>
            <input type="tel" name="recipientPhone"
                    placeholder="what is their phone number?">
        </div>
            <button type='submit' id='recipientSubmitButton'>Next</button>
    </div>

    <div class="panel hide" id='addressDiv'>
        <h1 class='panel-title'>Recipients Address</h1>
        <h4 class='panel-desc'>Where should the meals be delivered?</h4>
        <div class="input-group">
            <label for="address">Address</label>
            <input type="text" name="address" id='address' required
                    placeholder='Street name & number and apartment#'>
        </div>
        <div class="input-group">
            <label for="city">City</label>
            <input type="text" name='city' id='city' required
                    placeholder="What city do they live in?">
        </div>
        <div class="input-group">
            <label for="state">State</label>
            <input type="text" name='state'
                    placeholder="What state (leave empty if not applicable)">
        </div>
        <button type='submit' id=addressSubmitButton>Next</button>
    </div>

    <div class="panel hide" id='scheduleDiv'>
        <h1 class="panel-title">Lets set some details for your schedule</h1>
        <div class="panel-sub-group">
            <h4 class='panel-desc'>For what dates are the meals needed</h4>
            <div class="input-group">
                <label for="startDate">From:</label>
                <input type="date" name="startDate" id="startDate">
            </div>
            <div class="input-group">
                <label for="endDate">To:</label>
                <input type="date" name="endDate" id="endDate">
            </div>
        </div>

        <div class="panel-sub-group">
            <h4 class='panel-desc'>For which days are the meals needed?</h4>
            <div class="input-group">
                <label for="monday">Monday</label>
                <input type="checkbox" name="monday" id="monday">
            </div>
            <div class="input-group">
                <label for="tuesday">Tuesday</label>
                <input type="checkbox" name="tuesday" id="tuesday">
            </div>
            <div class="input-group">
                <label for="wednesday">Wednesday</label>
                <input type="checkbox" name="wednesday" id="wednesday">
            </div>
            <div class="input-group">
                <label for=thursday"">Thursday</label>
                <input type="checkbox" name="thursday" id="thursday">
            </div>
            <div class="input-group">
                <label for="friday">Friday</label>
                <input type="checkbox" name="friday" id="friday">
            </div>
            <div class="input-group">
                <label for="saturday">Saturday</label>
                <input type="checkbox" name="saturday" id="saturday">
            </div>
            <div class="input-group">
                <label for="sunday">Sunday</label>
                <input type="checkbox" name="sunday" id="sunday">
            </div>
        </div>

        <div class="panel-sub-group">
            <h4 class='panel-desc'>Which meals will be needed?</h4>
            <div class="input-group">
                <label for="breakfast">Breakfast</label>
                <input type="checkbox" name="breakfast" id="breakfast">
            </div>
            <div class="input-group">
                <label for="lunch">Lunch</label>
                <input type="checkbox" name="lunch" id="lunch">
            </div>
            <div class="input-group">
                <label for="dinner">Dinner</label>
                <input type="checkbox" name="dinner" id="dinner">
            </div>
            <button type='submit' id=scheduleSubmitButton>Next</button>
        </div>

    </div>

    <div class="panel hide" id='extrasDiv'>
        <h1 class="panel-title">Extras</h1>
        <h4 class="panel-desc">Here you can give others so more information</h4>
        <div class="input-group">
            <label for="allergies">Allergies</label>
            <input type="text" name="allergies" id="allergies"
                    placeholder='Do they have any food allergies'>
        </div>
        <div class="input-group">
            <label for="preferences">Preferences</label>
            <input type="text" name="preferences" id='preferences'
                    placeholder="Any food preferences others should know about">
        </div>
        <h4 class='panel-desc'>Notes</h4>
        <textarea class='extras-ta' name="notes" id="notes" cols="70" rows="15"
            placeholder='Here you can write any other information you would like participants to know about'></textarea>

        <button type="submit" id="extrasSubmitButton">Create!</button>
    </div>
    </form>

<script src="scripts/create.js"></script>


<%- include ("./partials/footer.ejs") %>
