<%- include ("./partials/header.ejs") %>


<div class="splash">
    <h1 class='splash-title'>
        <span class='splash-title-highlight'>Welcome, </span>
        Here you can organize a meal schedule for someone and let others join in to volunteer meals!</h1>
    <div class="splash-option">
        <h2 class='splash-question'>Woud you like to:</h2>
        <a class='splash-link' href='./create'>Create a plan</a>
        <a class='splash-link' href='./join'>Join a plan</a>
    </div>
</div>


    
    
<%- include ("./partials/footer.ejs") %>
