@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root{
    /* --font-heading: 'Open Sans', sans-serif; */
    /* --font-heading: 'Merriweather', serif; */
    --font-main: 'Montserrat', sans-serif;
    --font-heading: 'Montserrat', sans-serif;
    --color-main-blue: rgba(39, 63, 221, 0.85);
    --color-light-blue: rgb(26, 145, 162);
    --color-highlight: rgb(255,255,0);
    --color-text-gray: rgb(68, 68, 68);
    --color-text: rgb(255,255,255);
    --gradient: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,35,255,1) 0%, rgba(238,244,245,1) 100%);
}

.hide {
    visibility: hidden; 
    display: none;  
}


body {
    /* position: relative; */
    background-color: var(--color-main-blue);
    text-align: center;
    min-width: 100vw;
    min-height: 100vh;
}

.schedule-section {
    min-width: 100vw;
    min-height: 100vh;
}


nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--color-highlight);
}

:focus {
    /* outline: 2px solid var(--color-highlight); */
    /* border-radius: 0; */
    outline: 0;
    box-shadow: 0 0 0pt 1.5pt var(--color-highlight);
}

.logo {
    font-family: var(--font-heading);
    color: var(--color-text);
    font-size: 1.25em;
    line-height: 0.75em;
}

.logo-highlight {
    color: var(--color-highlight);
}

.nav-menu {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    margin-left: 1em;
    margin-right: 1em;
}

.nav-item {
    margin: 0 1em;
}

.nav-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--font-main);
    font-size: 1.1rem;
}

.nav-item a:hover {
    color: var(--color-highlight);
    text-decoration: underline;
}


label {
    min-width: 120px;
    text-align: start;
    padding-top: 8px; 
    font-family: var(--font-main);
    color: var(--color-highlight);

}

input {
    width: 30rem;
    min-width: 240px;
    margin-left: 10px;
    font-family: var(--font-main);
    font-size: 20px;
    line-height: 32px;
    letter-spacing: .15rem;
    color: var(--color-text);
    border: none;
    border-bottom: 2px solid var(--color-text);
    background-color: transparent;
}

input:active, input:focus{
    outline: none;
}

input::placeholder {
    font-size: 14px;
    color: rgba(255,255,255,0.5);
    letter-spacing: .1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
/* textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus { */
  border: none;
  border-bottom: 2px solid var(--color-text);
  outline: none;
  background-color: var(--color-main-blue);
  color: var(--color-text);
  -webkit-text-fill-color: var(--color-text);
  -webkit-box-shadow: var(--color-main-blue);
  transition: background-color 5000s ease-in-out 0s;
}


button {
    width: 120px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: .25em;
    text-align: center;
    margin-top: 2em;
    background-color: var(--color-text);
    color: var(--color-main-blue);
}

button:hover {
    cursor: pointer;
    background-color: var(--color-highlight);
    color: var(--color-main-blue);
}



/* ************************************** */
/* HOME PAGE */
/* ************************************** */


.splash {
    margin: 4em 2em;
}

.splash-title-highlight {
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 2.25rem;
    padding: 0;
    margin: 0;
    color: var(--color-highlight);
}
.splash-title {
    max-width: 75vw;
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: .1rem;
    padding: 0;
    margin: auto;
    color: var(--color-text)
}

.splash-option {
    margin: 3em;
}

.splash-question {
    margin-top: 4em;
    margin-bottom: 2em;
    font-weight: 400;
    font-size: 24px;
    font-family: var(--font-heading);
    color: var(--color-highlight);
}

.splash-link {
    padding: 1em;
    /* font-weight: 600; */
    font-size: 20px;
    font-family: var(--font-heading);
    color: var(--color-text);
    text-decoration: none;   
}

.splash-link:hover {
    color: var(--color-highlight);
    /* font-weight: 600; */
    text-decoration: underline;
}




/* ****************************** */
/* CREATE PAGE */
/* ****************************** */


.panel-title {
    font-weight: 400;
    font-family: var(--font-heading);
    font-size: 2.25rem;
    letter-spacing: .2rem;
    padding: 0;
    margin: 0;
}

.panel-desc {
    font-weight: 400;
    font-size: 18px;
    font-family: var(--font-heading);
    color: var(--color-text);
    margin-top: 2em;
    margin-bottom: 3em;
}

.input-group {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: .15rem;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    padding: .5em 0;
}



.panel {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    font-family: var(--font-main);
    font-size: 1.25rem;
    color:  var(--color-highlight);
    padding: 2em;
    max-width: 60vw;
    min-width: 30vw;
    margin: auto;
}

 .panel-sub-group {
    padding: 2em 0;
} 

.extras-ta {
    font-family: var(--font-main);
    color: var(--color-text-gray);
    font-size: 1rem;

}

.extras-ta:focus {
    outline: none;
}



/* ***************************************** */
            /* SCHEDULE PAGE  */
/* ***************************************** */

.schedule-header {
    font-family: var(--font-heading);
    color: var(--color-highlight);
    font-size: 2em;
    font-weight: 400;
    margin: 2.5em 0 1.5em 0;
}

.schedule-table {
    font-family: var(--font-main);
    color: white;
    max-width: 80%;
    min-width: 60%;
    margin: 1em auto;
}

.schedule-day {
    margin-bottom: 2em;
    background-color: black;
}

.schedule-date{
    padding: .25em;
    color: var(--color-highlight);
    font-weight: 500;
}

.justify-left{
    text-align: left;
}


table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns: 
      minmax(150px, 2fr)
      minmax(150px, 1.67fr)
      minmax(150px, 1.67fr)
      minmax(150px, 1.67fr)
      minmax(150px, 1.67fr)
  }
  
  thead,
  tbody,
  tr {
    display: contents;
  }
  
  th,
  td {
    padding: .25em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  tr:nth-child(odd) td {
    background: rgb(39, 74, 170);
  }
  tr:nth-child(even) td {
    background: rgb(53, 85, 175);
  }

.schedule-tr{
    /* display: flex;
    justify-content: space-between;
    align-items: baseline; */
}

/* .schedule-th {
    padding: 1em;
} */
/* 
.schedule-td {
    padding: 0 .25em;   
} */

.schedule-btn {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    padding: .15em 0;
    width: 100px;
    /* background-color: rgb(238, 238, 55); */
    /* color: var(--color-light-blue); */
}

/* .button-highlight {
    background-color: var(--color-highlight);
} */

.schedule-btn:hover {
    /* box-shadow: 0 0 1pt 1pt white; */
    /* border: 2px solid var(--color-highlight); */
    /* color: var(--color-text-gray); */
    /* font-size: 15px; */
    background-color: var(--color-highlight);
    /* color: var(--color-light-blue); */
}

.volunteer-header{
    font-family: var(--font-main);
    font-size: 1.5em;
    font-weight: 400;
    color: var(--color-highlight);
    margin: 0;
    margin-bottom: 1em;
}

.volunteer-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    /* height: 50vh; */
    top: 25vh;
    left: 25vw;
    padding: 1em 1em 2em 1em;
    background-color: var(--color-main-blue);
    border: 2px solid var(--color-highlight);
    border-radius: 25px;
    z-index: 3;
}

.blur {
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 2;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(255,255,255, 0.8);
}